@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

:root{
    --color-card:#0c6fc0;
    
}
*{
    padding: 0;
    margin: 0;
}
body{
    
    font-family: 'Poppins', sans-serif;
    font-family: 'PT Serif', serif;
    background-image: radial-gradient(circle, #3f82da, #00a3ef, #00bfe4, #00d5bc, #3be685);
}

.logo{
    width: 50px;
    padding: 35px 20px 0px 22px;
    
    
}
.card{
    height: 100%;
    max-width: 372px;
    cursor: pointer;
    margin:100px auto;
}
h4{
 padding-left: 85px;
 margin-top: -90px;
 
 /* margin-bottom: 20px; */
 color: #28a714;
 /* background-color:#2271B3; */
padding-top: 11px;
/* margin-right: 290px; */
/* width:285px; */
/* height: 55px; */
line-height: 26px;
/* border: 1px solid black; */

}
.bg__logo{
    background-color:#086ba8; 
    width:372px;  
    height:74px;
    margin-top:15px;
    border-radius: 10px 10px 0 0;
    /* border: 1px solid black; */
}
.body{
    background: white;
    width: 372px;
    height: 140px;
}
.me{
    float: left;
    height:130px;
    padding: 5px 10px 7px 10px ;
}
h2{
    color:var(--color-card);
    text-align: center;
    padding-top:40px;
    transition:0.4s
}
.card:hover h2 {
    transform: translateY(-40px);
    transition:0.5s;
    /* transition-delay: 0.1s; */
}
.card:hover h3 {
    transform: translateY(-40px);
    transition:0.5s;
    /* transition-delay: 0.1s; */
}
h3{
    color: rgb(240, 35, 35);
    text-align: center;
    transition:0.4s;
}
 p{
  font-weight: bold;
  font-size: 19px ;
  transition:0.5s;
  padding: 5px 10px 0 1px;
  /* transition:0.5s; */
}
.Pr{
    margin-top:150px;
    visibility: hidden;
    opacity: 0;
    padding-left: 120px;
    line-height:20px;
    transition:0.4s;
}

.card:hover .Pr{
    visibility:visible;
    opacity: 100;
}


.card:hover p{
    /* Dịch chuyển sang trái và lên trên */
    transform: translate(0px,-185px) ; 
    /* float: left; */
    /* transition: 0.5s; */
    transition-timing-function: ease;
}
.thanh_ngang{
    background-color:var(--color-card);
    width:100%;
    height:3px;

}
.address{
    width:100%;
    height:20px;
    background-color:white;
    border-radius:0px 0px 10px 10px;

}
h5{
    font-size:10.5px;
    text-align:center;
    padding-top:2px;
    font-weight:bold;
    font-family: 'Poppins', sans-serif;
    letter-spacing:0;
}